@charset "utf-8";
@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
@mixin cal-percent($width, $wrap: 715) {
  width: ($width * 100%) / $wrap;
}
